# Virtual Environment
.venv/
.env/

# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Ignore folders
data/processed/*
outputs/figures/*
outputs/reports/*
outputs/logs/*

# Keep .gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep
!outputs/logs/.gitkeep